
@{
    ViewData["Title"] = "Cadastro"; 
}
@model Pedido


<div class="card">

    <div class="card-body">
        <form role="form" class="row" method="post" asp-action="resumo">
            <div class="col-md-6">
                <div class="form-group">
                        <label for="nomeCliente" class="form-label">Nome</label>
                        <input type="text" class="form-control" id="nomeCliente" aria-describedby="emailHelp" placeholder="Nome"
                        asp-for="Nome">
                        <span asp-validation-for="Nome" class="text-danger"></span>
                </div>

                <div class="form-group">
                        <label for="email" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email"
                           asp-for="Email">
                    <span asp-validation-for="Email" class="text-danger"></span>

                </div>

                <div class="form-group">
                        <label for="telefone" class="form-label">Telefone</label>
                    <input type="text" class="form-control" id="telefone" aria-describedby="emailHelp" placeholder="Telefone"
                           asp-for="Telefone">
                    <span asp-validation-for="Telefone" class="text-danger"></span>

                </div>
            </div>
            <div class="col-md-6">

                <div class="form-group">
                        <label for="Endereco" class="form-label">Endereco</label>
                    <input type="text" class="form-control" id="Endereco" aria-describedby="emailHelp" placeholder="Endereco"
                           asp-for="Endereco">
                    <span asp-validation-for="Endereco" class="text-danger"></span>

                </div>
                <div class="form-group">
                        <label for="Municipio" class="form-label">Municipio</label>
                    <input type="text" class="form-control" id="Municipio" aria-describedby="emailHelp" placeholder="Municipio"
                           asp-for="Municipio">
                    <span asp-validation-for="Municipio" class="text-danger"></span>

                </div>

                <div class="form-group">
                        <label for="Estado" class="form-label">Estado</label>
                    <input type="text" class="form-control" id="Estado" aria-describedby="emailHelp" placeholder="Estado"
                           asp-for="Estado">
                    <span asp-validation-for="Estado" class="text-danger"></span>

                </div>




                <div class="form-group">
                    <div class="float-end">
                        <a asp-action="carrinho"
                               class="btn btn-success">
                                Continuar comprando
                        </a>
                    </div>
                </div>
                <div class="form-group">
                    <div class="float-end">
                        <button type="submit"
                                class="btn btn-success">
                            Finalizar
                        </button>
                    </div>
                </div>

            </div>

        </form>

    </div>
</div>




