@{
    ViewData["Title"] = "Carrosel";
}
@model List<Produto>


<h3> Catalago</h3>

<div id="carouselExampleIndicators" class="carousel slide">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        @{
            const int TAMANHO_PAGINA = 3;
            int numPaginas = Model.Count() / TAMANHO_PAGINA;
        }
        @for (int pagina = 0; pagina < numPaginas; pagina++)
        {

            <div class="carousel-item @(pagina == 0 ? "active" : "")">
                <div class="row">
                    @{
                        var produtosDaPagina = 
                        Model
                        .Skip(TAMANHO_PAGINA * pagina)
                        .Take(TAMANHO_PAGINA);
                    }

                    @foreach (var produto in produtosDaPagina)
                    {
                        <div class="col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <img src="~/imagens/produtos/large_@(produto.Id).jpg" />
                                </div>
                                <div class="panel-footer">
                                    <div>@(produto.Nome)</div>
                                    <div>R$ @(produto.Preco.ToString("F"))</div>
                                    <div class="text-center">
                                        <a asp-action="carrinho" asp-route-produtoId ="@(produto.Id)"> Adicionar </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>
            </div>
        }
    
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>