@{
    ViewData["Title"] = "Carrinho";
}

<h3>Meu Carrinho</h3>


<div class="card">
    <div class="card-header">
        
        <div class="row">
            <div class="col-md-6">ITEM</div>
            <div class="col-md-2">Preço Unitário</div>
            <div class="col-md-2">Quantidade</div>
            <div class="col-md-2"><span class="float-end">Subtotal</span></div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3"><img src="~/imagens/produtos/small_4.jpg" /></div>
            <div class="col-md-3">REST</div>
            <div class="col-md-2">R$: 70,00</div>
            <div class="col-md-2">3</div>
            <div class="col-md-2"><span class="float-end">R$: 210,00</span></div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-md-10">Total 4 itens</div>
            <div class="col-md-2"><span class="float-end">Preço total R$: 210,00</span></div>
        </div>
    </div>
 </div>


<div class="row">
    <div class="col-md-12">
        <a href="/pedido/resumo"
           class="btn btn-success float-end">Finalizar</a>
    </div>
</div>