@{
    ViewData["Title"] = "Resumo";
}
@model CasaDoCodigo.Models.ViewModel.CarrinhoViewModel;

<h3>Resumo do Pedido</h3>


<div class="card">
    

    <div class="card-body">
        <div class="row"><h2>
            <div class="col-md-12"> 
                Numero do pedido: 123456
            </div>
        </h2></div>
        <hr />
        <div class="row">
            <div class="col-md-3">
                <h4>Seus Dados</h4>
                <div>Brasilino de Souza Neto</div>
                <div>(47) 99999-9999</div>
            </div>
            <div class="col-md-3">
                <h4>E-mail</h4>
                neto.bq@gmail.com
            </div>
            <div class="col-md-6">
                <h4>Endereço de entrega</h4>
                <div>Rua Antonio Mafra - Brusque - SC</div>
            </div>
        </div>
        <hr />

        <div class="row">
            <div class="col-md-10">
                <h3>Item</h3>
            </div>
            <div class="col-md-2">
                <h3>Quantidade</h3> 
            </div>
        </div>

        @foreach (var item in Model.Itens)
        {
            <div class="row">
                <div class="col-md-10">
                    <div>@item.Produto.Nome</div>
                </div>
                <div class="col-md-2">
                    <div class="float-end">@item.Quantidade</div>
                </div>
            </div>
        }

    </div>
</div>