@{
    ViewData["Title"] = "Home Page";
}

@using CasaDoCodigo.Models;
@model CasaDoCodigo.Models.ViewModel.CarrinhoViewModel;


<div class="text-center">
    <h1 class="display-4">Bem Vindo</h1>
    <p>Treinamento ADSOMOS</p>
    <p>ASP.NET</p>

  
    

</div>


