html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand {
    background: url(../imagens/produtos/logo.png);
    width: 215px;
    height: 55px
}

.navbar-collapse {
    background-color: #F8965D;
    
}

.container-fluid {
    background-color: #F8965D ;
    
}

.row-center {
    align-items: center;
    display: flex;
}